/* Grid layout for images */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 100px; /* Adjust spacing between images */
    
}

.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the container fill the full viewport height */
}

.image-grid img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    cursor: pointer;
}

/* Modal styles (similar to previous examples) */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(40, 87, 40);
    /*padding: 20px;*/
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: flex; /* Create a flex container */
    width: 700px; /* Set the width to 50% of the viewport width */
    /*max-width: 80vw; /* Limit the maximum width to 80% of the viewport width */
    height: 500px; /* Set the height to 50% of the viewport height */
    /*max-height: 80vh; /* Limit the maximum height to 80% of the viewport height */
     /* Arrange the columns in a vertical stack */
}

#modal-text {/* Limit the width to 50% of the modal */
    padding-bottom: 1000px; 
    font-family: 'Poppins', sans-serif;
    display: block;
    color: white;
}

#modal-image {
    width: 300px; /* Ensure the image doesn't exceed the width of the modal */
    height: 300px;
    /*display: block;*/
    border-radius: 5%;
    padding-left: 10px; /* Center the image horizontally within the modal */
}


#modal-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Style the right column (text column) */


#modal-price {
    font-size: 20px; /* Limit the width to 50% of the modal */
     /* Add padding for spacing */
}

/* Rest of your CSS styles */
.image-row{
    display: flex;
    /*overflow-x: auto;*/
    width: 100%;
    height: 485px;
    margin-top: 250px;
}

.text-on-top {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    border-radius: 10px;
}
.text-box2{
    width:90%;
    color: rgb(40, 87, 40);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#button-container {
    position: fixed;
    top: 15px;
    right: 10px;
}

#button-image {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}
